/* shades */

$black: #000000;
$white: #FFFFFF;
$transparent: transparent;
$azure: #998ff9;
$greyish-brown-one: #2a2a2a;
$greyish-brown: #363636;
$warm-grey-two:#6c6c6c;

/* variables */
$primary-color: $white !default;
$secondary-color: $greyish-brown !default;
$color-h2: $secondary-color !default;
$color-ts-1: $greyish-brown-one;
$color-ts-2: $greyish-brown;
$dropdown-item-selected-blue: $azure;
$dropdown-item-selected-background: $azure;
$dropdown-item-selected-color: $primary-color;
$dropdown-selected-text-color: $warm-grey-two;
$dropdown-background: $transparent;
$dropdown-open-background: $primary-color;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$font-weight-ultra-light: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

/* html */
html {
    line-height: 1.5;
    @media only screen and (min-width: 0) {
        font-size: 15px;
    }
    @media only screen and (min-width: $medium-screen) {
        font-size: 15.5px;
    }
    @media only screen and (min-width: $large-screen) {
        font-size: 16px;
    }
    font-style: normal;
    font-stretch: normal;
    font-weight: normal;
}

/* text-styles */
.text-style-1 {
    font-size: 1.875rem; // 30px
    line-height: 1.07; //32px
    font-weight: $font-weight-regular;
    text-align: center;
    color: $color-ts-1;
    @media #{$small-and-down} {
        font-size: 1.133rem; //17px
        line-height: 1; //17px
    }
}

.text-style-2 {
    font-size: 1.438rem; // 23px
    font-weight: $font-weight-light;
    color: $color-ts-2;
    @media #{$small-and-down} {
        font-size: 1.133rem; //17px
    }
}

.pointer {
    text-decoration: none;
    cursor: pointer;
}

/* resets */

body, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.45em 0;
}

/* box-shadow-levels */

.bs-depth-3 {
    box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.18);
}


/* dropdown */

.dropdown {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    transition: box-shadow 1s;
    will-change: box-shadow;
    background: $dropdown-background;
}

.dropdown.open {
    background: $dropdown-open-background;
}


/* dropdown-measure */

.dropdown-measure {
    padding-top: 27px;
}


/* title */

.dropdown-measure .title {
    padding-right: 16px;
    @media #{$small-and-down} {
        font-weight: 600;
        line-height: 1.53;
        color: $color-h2;
    }
}


/* dropdown-selected */

.dropdown-selected {
    color: $dropdown-selected-text-color;
}

.dropdown.open .dropdown-selected {
    display: none;
}


/* dropdown-content-wrapper */

.dropdown-content-wrapper {
    position: relative;
    height: 0;
    transition: height 0.5s;
    will-change: height;
    overflow: hidden;
    background: $dropdown-open-background;
}

.dropdown.open .dropdown-content-wrapper {
    height: auto;
}



/* dropdown-item */

.dropdown-item {
    line-height: 40px;
    box-sizing: border-box;
    list-style: none;
}

.dropdown-item.selected {
    background-color: $dropdown-item-selected-background;
    color: $dropdown-item-selected-color;
    font-weight: $font-weight-semibold;
}

.arrow {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
    bottom: 4px;
    transition: 0.4s ease;
    text-align: left;
    @media #{$small-and-down} {
        bottom: 0;
    }
}

.arrow:before,
.arrow:after {
    background-color: transparent;
    width: 1px;
    height: 12px;
    display: inline-block;
    position: absolute;
    border-bottom: 13px solid #7B7B7B;
    top: 0;
    left: 0;
    content: "";
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.arrow:before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.arrow:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.open .arrow {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px);
}

.open .arrow:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open .arrow:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}